:root {
  --sy-rc-theme: 143, 118, 214;
  --sy-rc-bg: 18, 18, 18;
  --sy-rc-invert: 255, 255, 255;
  --sy-rc-text: 255, 255, 255;
  --sy-c-bg: #121212;
  --sy-c-bg-weak: #212833;
  --sy-c-text: #cedbea;
  --sy-c-text-weak: #77889f;
  --sy-c-heading: #ebf0f4;
  --sy-c-bold: #ebf0f4;
  --sy-c-foot-text: #eee;
  --sy-c-foot-bg: #000;
  --sy-c-foot-divider: #000;
}
