{%- if theme_readthedocs_url %}
<a href="{{ theme_readthedocs_url }}" aria-label="Readthedocs"><i class="i-simpleicons readthedocs"></i></a>
{%- endif %}
{%- if theme_github_url %}
<a href="{{ theme_github_url }}" aria-label="GitHub"><i class="i-simpleicons github"></i></a>
{%- endif %}
{%- if theme_gitlab_url %}
<a href="{{ theme_gitlab_url }}" aria-label="Gitlab"><i class="i-simpleicons gitlab"></i></a>
{%- endif %}
{%- if theme_bitbucket_url %}
<a href="{{ theme_bitbucket_url }}" aria-label="Bitbucket"><i class="i-simpleicons bitbucket"></i></a>
{%- endif %}
{%- if theme_twitter_url %}
<a href="{{ theme_twitter_url }}" aria-label="X (Twitter)"><i class="i-simpleicons x-twitter"></i></a>
{%- endif %}
{%- if theme_mastodon_url %}
<a href="{{ theme_mastodon_url }}" aria-label="Mastodon"><i class="i-simpleicons mastodon"></i></a>
{%- endif %}
{%- if theme_slack_url %}
<a href="{{ theme_slack_url }}" aria-label="Slack"><i class="i-simpleicons slack"></i></a>
{%- endif %}
{%- if theme_discord_url %}
<a href="{{ theme_discord_url }}" aria-label="Discord"><i class="i-simpleicons discord"></i></a>
{%- endif %}
{%- if theme_youtube_url %}
<a href="{{ theme_youtube_url }}" aria-label="YouTube"><i class="i-simpleicons youtube"></i></a>
{%- endif %}
{%- if theme_reddit_url %}
<a href="{{ theme_reddit_url }}" aria-label="Reddit"><i class="i-simpleicons reddit"></i></a>
{%- endif %}
{%- if theme_linkedin_url %}
<a href="{{ theme_linkedin_url }}" aria-label="LinkedIn"><i class="i-simpleicons linkedin"></i></a>
{%- endif %}
