<div class="sy-head-socials flex items-center">
  {%- if theme_github_url %}
    <a href="{{ theme_github_url }}" aria-label="GitHub">
      <i class="i-icon github"></i>
    </a>
  {%- elif theme_gitlab_url %}
    <a href="{{ theme_gitlab_url }}" aria-label="Gitlab">
      <i class="i-icon gitlab"></i>
    </a>
  {%- elif theme_bitbucket_url %}
    <a href="{{ theme_bitbucket_url }}" aria-label="Bitbucket">
      <i class="i-icon bitbucket"></i>
    </a>
  {%- endif %}
  {%- if theme_twitter_url %}
  <a href="{{ theme_twitter_url }}" aria-label="X (Twitter)">
    <i class="i-icon x-twitter"></i>
  </a>
  {%- endif %}
  {%- if theme_discord_url %}
    <a href="{{ theme_discord_url }}" aria-label="Discord">
      <i class="i-icon discord"></i>
    </a>
  {%- endif %}
</div>
