{%- if theme_github_url %}
  <a href="{{ theme_github_url }}" aria-label="GitHub">
    <i class="i-simpleicons github"></i>
  </a>
{%- elif theme_gitlab_url %}
  <a href="{{ theme_gitlab_url }}" aria-label="Gitlab">
    <i class="i-simpleicons gitlab"></i>
  </a>
{%- elif theme_bitbucket_url %}
  <a href="{{ theme_bitbucket_url }}" aria-label="Bitbucket">
    <i class="i-simpleicons bitbucket"></i>
  </a>
{%- endif %}
{%- if theme_twitter_url %}
<a href="{{ theme_twitter_url }}" aria-label="X (Twitter)">
  <i class="i-simpleicons x-twitter"></i>
</a>
{%- endif %}
{%- if theme_discord_url %}
  <a href="{{ theme_discord_url }}" aria-label="Discord">
    <i class="i-simpleicons discord"></i>
  </a>
{%- elif theme_slack_url %}
  <a href="{{ theme_slack_url }}" aria-label="Slack">
    <i class="i-simpleicons slack"></i>
  </a>
{%- endif %}
