{%- macro expandURL(url, resource=False) -%}
{%- if url.startswith(('https://', 'http://')) -%}
{{ url }}
{%- else -%}
{{ pathto(url, resource=resource) }}
{%- endif -%}
{%- endmacro -%}

<ul>
  {%- for link in theme_nav_links -%}
    {%- if link.children %}
      <li class="link">
        {%- if link.url -%}
          <a href="{{ expandURL(link.url, link.resource) }}">
            <span>{{ link.title }}</span>
            <i class="i-lucide chevron-down"></i>
          </a>
        {%- else -%}
          <button type="button">
            <span>{{ link.title }}</span>
            <i class="i-lucide chevron-down"></i>
          </button>
        {%- endif %}
        <ul>
          {%- for item in link.children -%}
            {%- if item.summary -%}
              <li><a href="{{ expandURL(item.url, item.resource) }}">
                <span>{{ item.title }}</span>
                <small>{{ item.summary }}</small>
              </a></li>
            {%- else -%}
              <li><a href="{{ expandURL(item.url, item.resource) }}">{{ item.title }}</a></li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
      </li>
    {%- else %}
      {%- if link.url.startswith(('https://', 'http://')) -%}
        <li class="link">
          <a href="{{ link.url }}">
            <span>{{ link.title }}</span>
            {%- if link.external -%}
              <i class="i-lucide external-link"></i>
            {%- endif -%}
          </a>
        </li>
      {%- else -%}
        <li class="link"><a href="{{ pathto(link.url, link.resource) }}">{{ link.title }}</a></li>
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
</ul>
