{%- if versions -%}
  <div class="nav-versions">
    <button type="button" aria-label="{{ _("Versions") }}">
      <span class="md:hidden">{{ _("Versions") }}</span>
      <span class="hidden md:inline">{{ current_version }}</span>
      <i class="i-lucide chevron-down"></i>
    </button>
    <div class="nav-versions-choices">
      {%- if versions -%}
      <ul>
        {%- for version in versions -%}
          <li><a href="{{ version[1] }}">{{ version[0] }}</a></li>
        {%- endfor -%}
      </ul>
      {%- endif -%}
    </div>
  </div>
{%- endif -%}
