<div class="navigation flex print:hidden">
  {%- if prev -%}
  <div class="navigation-prev">
    <a href="{{ prev.link }}">
      <i class="i-lucide chevron-left"></i>
      <div class="page-info">
        <span>{{ _("Previous") }}</span>
        {%- if prev.link == pathto(root_doc) -%}
        <div class="title">{{ _("Home") }}</div>
        {%- else -%}
        <div class="title">{{ prev.title }}</div>
        {%- endif -%}
      </div>
    </a>
  </div>
  {%- endif -%}
  {%- if next -%}
  <div class="navigation-next">
    <a href="{{ next.link }}">
      <div class="page-info">
        <span>{{ _("Next") }}</span>
        <div class="title">{{ next.title }}</div>
      </div>
      <i class="i-lucide chevron-right"></i>
    </a>
  </div>
  {%- endif -%}
</div>
