{%- macro render_logo(src, classname) -%}
  {%- if src and src.startswith(('https://', 'http://')) -%}
    <img class="{{ classname }}" src="{{ src }}" alt="{{ project }}" height="28" />
  {%- elif src -%}
    <img class="{{ classname }}" src="{{ pathto(src, 1) }}" alt="{{ project }}" height="28" />
  {%- elif logo_url -%}
    <img class="{{ classname }}" src="{{ logo_url }}" alt="{{ project }}" height="28" />
  {%- endif -%}
{%- endmacro -%}

<div class="sy-head">
  <div class="sy-head-blur"></div>
  <div class="sy-head-inner sy-container mx-auto">
    <div class="sy-head-brand flex items-center">
      <div class="md:hidden flex items-center">
        <button class="hamburger js-menu mr-3" aria-label="Menu" type="button" aria-controls="lside" aria-expanded="false">
          <span class="hamburger_1"></span>
          <span class="hamburger_2 -translate-x-2"></span>
          <span class="hamburger_3 -translate-x-1"></span>
        </button>
      </div>
      <a href="{% if theme_logo_target %}{{ theme_logo_target }}{% else %}{{ pathto(root_doc) }}{% endif %}">
        {{ render_logo(theme_light_logo, 'light-logo') }}
        {{ render_logo(theme_dark_logo, 'dark-logo') }}
        <strong>{{ project }}</strong>
      </a>
      {% include "components/nav-versions.html" %}
    </div>
    <div class="sy-head-actions flex gap-2 items-center print:hidden">
      <nav class="sy-head-nav hidden md:block">
        {%- include "components/nav-links.html" %}
      </nav>
      <div class="hidden md:block">
        {%- include "components/searchbox.html" %}
      </div>
      {%- if theme_github_url %}
        <a class="flex items-center ml-1" href="{{ theme_github_url }}" aria-label="GitHub">
          <i class="i-icon github"></i>
        </a>
      {%- endif %}
      <button class="js-theme theme-switch flex items-center ml-1" data-aria-light="{{ _('Switch to dark mode') }}" data-aria-dark="{{ _('Switch to light mode') }}">
        <i class="i-icon theme-icon"></i>
      </button>
      {% if display_toc %}
        <button class="js-menu xl:hidden flex items-center ml-1" aria-label="Show table of contents" type="button" aria-controls="rside" aria-expanded="false">
          <i class="i-icon outdent"></i>
        </button>
      {%- endif %}
    </div>
  </div>
</div>
