<div class="theme-selector">
  <label for="theme-select">
    <div class="theme-selector-inner">
      <span class="theme-selector-icon">
        <i class="i-icon theme"></i>
      </span>
      <select id="theme-select" aria-label="{{ _('Change color theme') }}">
        <option value="light">Light</option>
        <option value="dark">Dark</option>
        <option value="">System</option>
      </select>
      <span class="theme-selector-arrows">
        <i class="i-icon arrows"></i>
      </span>
    </div>
  </label>
</div>
