sphinx
sphinx-sitemap
sphinx-copybutton
sphinx-design
sphinx_sqlalchemy
ipykernel
jupyter-sphinx
sphinx-togglebutton
sphinxcontrib-video
sphinxcontrib-youtube
sphinxcontrib-mermaid
sphinx-docsearch
sphinx-click
sphinx-contributors
nbsphinx
myst-parser
numpy
numpydoc
matplotlib
pandas
Babel
