.globaltoc {
  padding-bottom: 20px;
}

.globaltoc .caption {
  font-size: 0.86rem;
  font-weight: 500;
  font-family: var(--sy-f-heading);
  color: var(--sy-c-light);
  text-transform: uppercase;
  letter-spacing: 0.4px;
  padding: .8rem 0 0.4rem;
  border-top: 1px solid var(--sy-c-divider);
}

.globaltoc > p.caption:first-of-type {
  padding-top: 0;
  border-top: none;
}

.globaltoc .caption + ul {
  margin-bottom: 1.5rem;
}

.globaltoc ul + .caption {
  margin-top: 2.5rem;
}

.globaltoc li {
  margin: var(--sy-s-globaltoc-gap) 0;
}

.globaltoc li > ul > li:last-child {
  margin-bottom: 0;
}

.globaltoc li > ul {
  margin-left: 0.2rem;
  padding-left: 0.6rem;
  border-left: 1px solid var(--gray-3);
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: max-height 0.3s ease, visibility 0.3s ease;
}

.globaltoc > ul a {
  display: block;
  width: 100%;
  padding: .25rem .5rem;
  border-radius: 6px;
  text-decoration: none;
  transition: background-color 0.15s ease, color 0.15s ease;
}

.globaltoc > ul a:hover {
  color: var(--sy-c-link-hover);
  background-color: var(--sy-c-surface);
}

.globaltoc li:has(> ul) > a {
  width: calc(100% - 2rem - var(--sy-s-globaltoc-gap));
}

.globaltoc > ul a.current {
  font-weight: 500;
  color: var(--sy-c-current-text);
  background-color: var(--sy-c-current-background);
}

.globaltoc a.external:after {
  content: '';
  mask: var(--lucide-external-link-url) no-repeat;
  mask-size: 100% 100%;
  width: 0.825rem;
  height: 0.825rem;
  margin-left: 0.2rem;
  display: inline-block;
  vertical-align: middle;
  font-style: normal;
  background-color: var(--sy-c-light);
}

/* toc toggle */
.globaltoc li {
  position: relative;
}

.globaltoc li > button {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 6px;
  cursor: pointer;
}

.globaltoc li > button:hover {
  color: var(--sy-c-link-hover);
  background-color: var(--sy-c-surface);
}

.globaltoc li.current > ul,
.globaltoc li._expand > ul {
  max-height: 1000px;
  visibility: visible;
}

.globaltoc li._collapse > ul {
  max-height: 0;
  visibility: hidden;
}

.globaltoc li > button > i {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.globaltoc li.current > button {
  color: var(--sy-c-current-text);
  background-color: var(--sy-c-current-background);
}

.globaltoc li.current > button > i,
.globaltoc li._expand > button > i {
  transform: rotate(90deg);
}

.globaltoc li._collapse > button > i {
  transform: rotate(0deg);
}
