.globaltoc {
  padding-bottom: 20px;
}

.globaltoc .caption {
  font-size: 0.86rem;
  font-weight: 500;
  font-family: var(--sy-f-heading);
  color: var(--sy-c-light);
  text-transform: uppercase;
  letter-spacing: 0.4px;
  padding: .8rem 0 0.4rem;
  border-top: 1px solid var(--sy-c-divider);
}

.globaltoc > p.caption:first-of-type {
  padding-top: 0;
  border-top: none;
}

.globaltoc .caption + ul {
  margin-bottom: 1.5rem;
}

.globaltoc ul + .caption {
  margin-top: 2.5rem;
}

.globaltoc li {
  margin: 0.6rem 0;
}

.globaltoc li > ul {
  margin-left: 0.6rem;
  font-size: 0.96rem;
}

.globaltoc li.toctree-l1 > ul {
  margin-left: 0.2rem;
  border-left: 1px solid var(--gray-3);
}

.globaltoc li.toctree-l2 {
  padding-left: 0.9rem;
  margin-left: -1px;
  border-left: 1px solid transparent;
}

.globaltoc li.toctree-l2.current {
  border-color: var(--sy-c-link);
}

.globaltoc > ul a.current {
  font-weight: 500;
  color: var(--sy-c-link);
}

.globaltoc > ul a:hover {
  color: var(--sy-c-link-hover);
}

.globaltoc a.external:after {
  content: '';
  mask: var(--lucid-external-link-url) no-repeat;
  mask-size: 100% 100%;
  width: 0.825rem;
  height: 0.825rem;
  margin-left: 0.2rem;
  display: inline-block;
  vertical-align: middle;
  font-style: normal;
  background-color: var(--sy-c-light);
}

/* toc toggle */
.globaltoc li {
  position: relative;
}

.globaltoc li > button {
  position: absolute;
  top: 0.2rem;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 3px;
}

.globaltoc li > button:hover {
  background-color: var(--sy-c-surface);
}

.globaltoc li.current > ul,
.globaltoc li._expand > ul {
  display: block;
}

.globaltoc li > ul,
.globaltoc li._collapse > ul {
  display: none;
}

.globaltoc li > button > i {
  transform: rotate(0deg);
  transition: transform 0.2s ease;
}

.globaltoc li.current > button > i,
.globaltoc li._expand > button > i {
  transform: rotate(90deg);
}

.globaltoc li._collapse > button > i {
  transform: rotate(0deg);
}
