.nav-languages button {
  cursor: pointer;
  padding: 0;
  margin: 0;
  background: transparent;
  border: 0;
}

.nav-versions .chevron {
  font-size: 0.72rem;
  font-weight: 400;
  transform: rotate(90deg);
  color: var(--sy-c-text-weak);
}

@media (max-width: 769px) {
  .nav-versions {
    display: none;
  }

  .nav-languages {
    width: 100%;
    background-color: var(--sy-c-bg-weak);
    border-radius: 6px;
    padding-bottom: 0.6rem;
    margin-bottom: 1rem;
  }

  .nav-languages button {
    padding: 0.5rem 1rem;
    font-weight: 500;
    font-size: 0.76rem;
    color: var(--sy-c-text-weak);
  }

  .nav-languages button .i-icon {
    display: none;
  }

  .nav-languages li {
    font-size: 0.94rem;
    padding: 0.32rem 1rem;
  }
}

@media (min-width: 768px) {
  .nav-versions,
  .nav-languages {
    display: flex;
    align-items: center;
    position: relative;
    width: auto;
    height: var(--sy-s-navbar-height);
    background: transparent;
    color: var(--sy-c-text);
  }

  .nav-versions button {
    cursor: pointer;
    font-size: 0.86rem;
    font-weight: 500;
    background-color: var(--sy-c-bg-weak);
    border-radius: 2rem;
    padding: 0.24rem 0.8rem;
  }

  .nav-versions-choices,
  .nav-languages-choices {
    position: absolute;
    visibility: hidden;
    padding: 0;
    top: 3rem;
    width: 200px;
    background-color: var(--sy-c-bg);
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 0 3px rgba(var(--sy-rc-invert), 0.1), 0 0 2px rgba(var(--sy-rc-invert), 0.2) inset;
  }

  .nav-versions-choices {
    left: 0;
  }

  .nav-languages-choices {
    right: -2rem;
  }

  .nav-versions:hover .nav-versions-choices,
  .nav-languages:hover .nav-languages-choices {
    visibility: visible;
  }

  .nav-versions li+li,
  .nav-languages li+li {
    border-top: 1px solid var(--sy-c-divider);
  }

  .nav-versions a,
  .nav-languages a {
    display: block;
    padding: 0.42rem 1rem;
    color: var(--sy-c-text);
  }

  .nav-versions a:hover,
  .nav-languages a:hover {
    color: var(--sy-c-link);
    background: var(--sy-c-bg-weak);
  }

}
