.nav-languages button,
.nav-versions button {
  cursor: pointer;
  padding: 0;
  margin: 0;
  background: transparent;
  border: 0;
  white-space: nowrap;
}

.nav-versions .chevron-down {
  color: var(--sy-c-light);
}

@media (max-width: 767px) {
  .nav-versions,
  .nav-languages {
    width: 100%;
    background-color: var(--sy-c-surface);
    border-radius: 6px;
    padding-bottom: 0.6rem;
    margin-bottom: 1rem;
  }

  .nav-versions button,
  .nav-languages button {
    padding: 0.5rem 1rem;
    font-weight: 500;
    font-size: 0.76rem;
    color: var(--sy-c-light);
  }

  .nav-versions button > i,
  .nav-languages button > i {
    display: none;
  }

  .nav-versions ul {
    padding: 0 0.6rem;
  }

  .nav-versions li {
    padding: 0.2rem 0.4rem;
    display: inline-block;
  }

  .nav-languages li {
    font-size: 0.94rem;
    padding: 0.32rem 1rem;
  }
}

@media (min-width: 768px) {
  .nav-versions,
  .nav-languages {
    display: flex;
    align-items: center;
    position: relative;
    width: auto;
    height: var(--sy-s-navbar-height);
    background: transparent;
    color: var(--sy-c-text);
  }

  .nav-languages button,
  .nav-versions button {
    padding: 0 0.5rem;
    border-right: 1px solid var(--gray-3);
  }

  .nav-versions-choices,
  .nav-languages-choices {
    position: absolute;
    visibility: hidden;
    padding: 0;
    top: 3rem;
    right: -0.6rem;
    min-width: 120px;
    max-height: 60vh;
    box-sizing: border-box;
    background-color: var(--sy-c-background);
    border-radius: 6px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0.8rem 1rem;
    box-shadow: var(--sy-dropdown-shadow);
  }

  .nav-versions:hover .nav-versions-choices,
  .nav-languages:hover .nav-languages-choices {
    visibility: visible;
  }

  .nav-versions li,
  .nav-languages li {
    padding: 0.1rem 0;
  }

  .nav-versions a,
  .nav-languages a {
    display: block;
    padding: 0.2rem 0.6rem;
    color: var(--sy-c-text);
    white-space: nowrap;
  }

  .nav-versions a:hover,
  .nav-languages a:hover {
    color: var(--sy-c-link-hover);
    background: var(--sy-c-surface);
    border-radius: 6px;
  }
}
