.announcement {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.8rem 2rem;
  display: flex;
  align-items: center;
  color: var(--sy-c-banner, var(--accent-9-contrast));
  background-color: var(--sy-c-banner-bg, var(--accent-a11));
  z-index: 20;
}

.announcement a {
  text-decoration: underline;
}

.announcement ::selection {
  color: var(--sy-c-banner, var(--accent-9-contrast));
}

.announcement-inner {
  width: 100%;
}

.announcement-close {
  position: absolute;
  top: 0.8rem;
  right: 1rem;
}

.sy-head {
  position: sticky;
  top: var(--sy-s-banner-height);
  height: var(--sy-s-navbar-height);
  background-color: transparent;
  z-index: 20;
}

.sy-head-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(12px);
  background-color: var(--sand-a1);
  box-shadow: 0 0 var(--sy-c-background-contrast), 0 2px 4px var(--gray-a1), 0 1px 0 var(--sy-c-divider);
  z-index: -1;
}

.sy-head-inner {
  display: flex;
  padding-left: max(env(safe-area-inset-right), 1.5rem);
  padding-right: max(env(safe-area-inset-right), 1rem);
  justify-content: space-between;
  align-items: center;
  height: var(--sy-s-navbar-height);
}

.sy-head .i-icon {
  font-size: 1.25rem;
}

.sy-head-brand img {
  height: 28px;
}

.sy-head-brand img + strong {
  display: none;
}

.sy-head-brand .dark-logo {
  display: none;
}

.dark .sy-head-brand .dark-logo {
  display: inline;
}

.dark .sy-head-brand .light-logo {
  display: none;
}

.light .sy-head-brand .light-logo {
  display: inline;
}

.light .sy-head-brand .dark-logo {
  display: none;
}

.sy-head-nav button,
.sy-head-nav a {
  padding: .5rem;
  font-size: .95rem;
  font-weight: 500;
  white-space: nowrap;
}

.sy-head-nav .link i.external-link {
  font-size: 68%;
  opacity: 0.6;
  color: var(--sy-c-light);
  margin-left: 2px;
}

.sy-head-nav .link > ul a {
  display: block;
  white-space: normal;
}

.sy-head-nav .link > ul a:hover {
  background: var(--sy-c-surface);
  border-radius: 6px;
}

.sy-head-nav .link > ul small {
  display: block;
  color: var(--sy-c-light);
  font-weight: 400;
}

.sy-head-socials a {
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.sy-head-actions button {
  height: var(--sy-s-navbar-height);
  padding: 0 0.5rem;
}

@media (max-width: 767px) {
  body[data-expanded-navlinks="true"] {
    overflow: hidden;
  }

  .sy-head-links {
    display: none;
    position: fixed;
    top: var(--sy-s-offset-top);
    bottom: 0;
    left: 0;
    right: 0;
    padding: 4rem 1.8rem 0;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid var(--sy-c-divider);
    background-color: var(--sy-c-background);
    overflow-y: auto;
  }

  .sy-head-links._expanded {
    display: block;
  }

  .sy-head-nav {
    margin-left: auto;
    margin-right: auto;
  }

  .sy-head-nav .link {
    margin: 0.5rem 0;
  }

  .sy-head-nav .link i.chevron {
    display: none;
  }

  .sy-head-nav .link > ul {
    margin: 0.5rem 0 0.5rem 1rem;
  }

  .sy-head-extra form.searchbox {
    position: absolute;
    top: 1rem;
    left: 1.8rem;
    right: 1.8rem;
  }

  .sy-head-extra {
    flex-direction: column;
    padding: 2rem 0 1rem;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .sy-head-inner {
    padding-right: max(env(safe-area-inset-right), 1.5rem);
  }

  .sy-head-links {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
  }

  .sy-head-nav {
    white-space: nowrap;
    overflow: auto;
  }

  .sy-head-nav .link {
    display: inline-flex;
    align-items: center;
    height: var(--sy-s-navbar-height);
  }

  .sy-head-nav a:hover {
    color: var(--sy-c-link-hover);
  }

  .sy-head-nav .link:hover > a {
    background-color: var(--sy-c-surface);
    border-radius: 6px;
  }

  .sy-head-nav .link i.chevron {
    opacity: 0.6;
    font-size: 1rem;
    transform: rotate(90deg);
  }

  .sy-head-nav .link > ul {
    position: absolute;
    height: 0;
    visibility: hidden;
    background-color: var(--sy-c-background);
    top: var(--sy-s-navbar-height);
    margin-top: -10px;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid var(--sy-c-divider);
    box-shadow: var(--sy-dropdown-shadow);
    z-index: 9;
    max-width: 320px;
  }

  .sy-head-nav .link:hover > ul {
    height: auto;
    visibility: visible;
  }

  .sy-head-nav .link > ul > li {
    padding: 0.2rem 0;
  }

  .sy-head-socials {
    margin-left: 0.5rem;
  }
}
