.localtoc > h3 {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

html[lang="zh"] .localtoc > h3,
html[lang="zh-TW"] .localtoc > h3,
html[lang="ja"] .localtoc > h3,
html[lang="ko"] .localtoc > h3 {
  letter-spacing: 0;
  font-size: 0.86rem;
  font-weight: 600;
}

.localtoc > ul li {
  margin-top: 0.36rem;
  margin-bottom: 0.36rem;
}

.localtoc > ul li > a:hover {
  color: var(--sy-c-bold);
}

.localtoc > ul li.active > a {
  font-weight: 500;
  color: var(--sy-c-link);
}

.localtoc > ul > li ul {
  padding-left: 0.8rem;
}
