.sy-lside .sidebar-links {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .sy-lside .sy-lside-inner {
    top: var(--sy-s-offset-top);
  }
  .sy-lside .sy-scrollbar {
    height: calc(100vh - var(--sy-s-offset-top));
    overflow-x: hidden;
  }
}
