.sy-lside li {
  margin: 0.6rem 0;
}

.sy-lside li.link > span {
  font-size: 0.86rem;
  font-weight: 500;
  font-family: var(--sy-f-heading);
  color: var(--sy-c-light);
  text-transform: uppercase;
  letter-spacing: 0.4px;
}

.sy-lside li.link .i-icon {
  display: none;
}

.sy-lside li.link > ul {
  margin-left: 1rem;
}

.sy-lside li.link > ul small {
  display: none;
}

.sy-lside .sidebar-links {
  margin-bottom: 2rem;
}

.sy-lside .sidebar-links span {
  display: inline-block;
  vertical-align: middle;
}

.sy-lside .sidebar-links .icon {
  padding: 0.1rem;
  border-radius: 6px;
  border: 1px solid var(--sy-c-border);
  margin-right: 0.4rem;
  opacity: 0.8;
}

.sy-lside .sidebar-links svg {
  width: 1.5rem;
  height: 1.5rem;
}

.sy-lside .sidebar-links a:hover .icon {
  opacity: 1;
}

@media (min-width: 768px) {
  .sy-lside .sy-lside-inner {
    top: var(--sy-s-offset-top);
  }
  .sy-lside .sy-scrollbar {
    height: calc(100vh - var(--sy-s-offset-top));
    overflow-x: hidden;
  }
}
