@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Twemoji Country Flags';
  unicode-range: U+1F1E6-1F1FF, U+1F3F4, U+E0062-E0063, U+E0065, U+E0067, U+E006C, U+E006E, U+E0073-E0074, U+E0077, U+E007F;
  src: url('https://cdn.jsdelivr.net/npm/country-flag-emoji-polyfill@0.1/dist/TwemojiCountryFlags.woff2') format('woff2');
}

::selection {
  color: var(--accent-a11);
  background-color: var(--accent-a3);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--sy-f-text);
  color: var(--sy-c-text);
}

.win {
  font-family: "Twemoji Country Flags", var(--sy-f-text);
}

h1, h2, h3, h4, h5 {
  color: var(--sy-c-heading);
  font-family: var(--sy-f-heading);
}

strong, em {
  color: var(--sy-c-bold);
}

.sy-container {
  max-width: 90rem;
}

.sy-scrollbar {
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.sy-scrollbar::-webkit-scrollbar {
  height: .75rem;
  width: .75rem;
}

.sy-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.sy-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.sy-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: var(--gray-a3);
  background-clip: content-box;
  border: 3px solid transparent;
}

.i-icon,
.i-lucid,
.i-simpleicons {
  mask: var(--icon-url) no-repeat;
  mask-size: 100% 100%;
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: middle;
  font-style: normal;
  background-color: currentColor;
}

.theme-switch .theme-icon,
[data-color-mode="auto"] .theme-switch .theme-icon {
  --icon-url: var(--lucid-laptop-url);
}
[data-color-mode="light"] .theme-switch .theme-icon {
  --icon-url: var(--lucid-sun-url);
}
[data-color-mode="dark"] .theme-switch .theme-icon {
  --icon-url: var(--lucid-moon-url);
}
