@media (max-width: 767px) {
  #m-navbar {
    position: fixed;
    z-index: 15;
    top: calc(var(--sy-s-offset-top) - 1px);
    bottom: 0;
    width: 100%;
    height: calc(100vh - var(---sy-s-offset-top));
    overflow: auto;
    background: rgba(var(--sy-rc-bg), .98);
    transform: translateY(-100%);
    transition: transform .2s ease;
  }
  body[data-expanded-m-navbar="true"] {
    overflow: hidden;
  }
  body[data-expanded-m-navbar="true"] #m-navbar {
    transform: translateY(0);
  }
}

@media (max-width: 1179px) {
  #m-toc {
    z-index: 15;
    top: calc(var(--sy-s-offset-top) - 1px);
    right: 0;
    bottom: 0;
    width: 20rem;
    max-width: 100%;
    height: calc(100vh - var(---sy-s-offset-top));
    overflow: auto;
    background: var(--sy-c-bg-weak);
    border-left: 1px solid var(--sy-c-divider);
    transform: translateX(100%);
    transition: transform .2s ease;
  }
  body[data-expanded-m-toc="true"] #m-toc {
    transform: translateX(0);
  }
}

@media (min-width: 768px) {
  .sy-main {
    width: calc(100vw - 16rem);
    max-width: 52rem;
  }
}

.yue section {
  scroll-margin-top: calc(var(--sy-s-offset-top) + 80px);
}

@media (min-width: 1280px) {
  .yue section {
    scroll-margin-top: calc(var(--sy-s-offset-top) + 20px);
  }
}

.sy-content {
  max-width: 52rem;
  min-height: calc(100vh - var(--sy-s-offset-top));
}

.sy-content form {
  display: flex;
  position: relative;
  align-items: center;
}

.sy-content input[name="q"] {
  appearance: none;
  width: 100%;
  padding: 6px 12px;
  font-size: 0.92rem;
  font-family: var(--sy-f-text);
  border-radius: 6px;
  outline: 0;
  background: var(--sy-c-bg-weak);
}

.sy-content input[name="q"] + input[type="submit"] {
  position: absolute;
  font-size: 0.68rem;
  font-weight: 600;
  font-family: var(--sy-f-text);
  padding: 2px 6px;
  margin: 6px;
  right: 0;
  border-radius: 3px;
  border: 1px solid var(--sy-c-divider);
  background-color: var(--sy-c-bg);
  opacity: 1;
  transition: opacity 0.2s ease;
}
