@media (min-width: 768px) {
  .sy-main {
    width: calc(100vw - 16rem);
    max-width: 52rem;
  }
}

.yue section {
  scroll-margin-top: calc(var(--sy-s-offset-top) + 80px);
}

@media (min-width: 1280px) {
  .yue section {
    scroll-margin-top: calc(var(--sy-s-offset-top) + 20px);
  }
}

.sy-content {
  max-width: 52rem;
  min-height: calc(100vh - var(--sy-s-offset-top));
}

.sy-content form {
  display: flex;
  position: relative;
  align-items: center;
}

.sy-content input[name="q"] {
  appearance: none;
  width: 100%;
  padding: 6px 12px;
  font-size: 0.92rem;
  font-family: var(--sy-f-text);
  border-radius: 6px;
  outline: 0;
  background: var(--sy-c-bg-weak);
}

.sy-content input[name="q"] + input[type="submit"] {
  position: absolute;
  font-size: 0.68rem;
  font-weight: 600;
  font-family: var(--sy-f-text);
  padding: 2px 6px;
  margin: 6px;
  right: 0;
  border-radius: 3px;
  border: 1px solid var(--sy-c-divider);
  background-color: var(--sy-c-bg);
  opacity: 1;
  transition: opacity 0.2s ease;
}
