@media (max-width: 767px) {
  #m-navbar {
    position: fixed;
    z-index: 15;
    top: calc(var(--sy-s-offset-top) - 1px);
    bottom: 0;
    width: 100%;
    height: calc(100vh - var(---sy-s-offset-top));
    overflow: auto;
    background: rgba(var(--sy-rc-bg), .98);
    transform: translateY(-100%);
    transition: transform .2s ease;
  }
  body[data-expanded-m-navbar="true"] {
    overflow: hidden;
  }
  body[data-expanded-m-navbar="true"] #m-navbar {
    transform: translateY(0);
  }
}

@media (max-width: 1279px) {
  .sy-toc {
    position: fixed;
    z-index: 25;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20rem;
    max-width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    overflow: auto;
    background: var(--sy-c-bg);
    transform: translateX(110%);
    transition: transform .2s ease;
    --tw-shadow: -12px 0 16px rgba(var(--sy-rc-bg), 0.16);
    box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow);
  }

  #__toc + label {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: width 0 .25s, height 0 .25s, opacity .25s;
  }

  #__toc:checked + label {
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 22;
  }

  #__toc:checked ~ .sy-page .sy-toc {
    transform: translateX(0);
  }
}

@media (min-width: 768px) {
  .sy-main {
    width: calc(100% - 16rem);
    max-width: 52rem;
  }
}

@media (min-width: 1280px) {
  .sy-main {
    width: calc(100% - 32rem);
  }
  .sy-toc .sy-scrollbar {
    max-height: calc(100vh - var(--sy-s-offset-top) - env(safe-area-inset-bottom));
  }
}

.yue section {
  scroll-margin-top: calc(var(--sy-s-offset-top) + 80px);
}

@media (min-width: 1280px) {
  .yue section {
    scroll-margin-top: calc(var(--sy-s-offset-top) + 20px);
  }
}

.sy-content {
  max-width: 52rem;
  min-height: calc(100vh - var(--sy-s-offset-top));
}

.sy-content form {
  display: flex;
  position: relative;
  align-items: center;
}

.sy-content input[name="q"] {
  appearance: none;
  width: 100%;
  padding: 6px 12px;
  font-size: 0.92rem;
  font-family: var(--sy-f-text);
  border-radius: 6px;
  outline: 0;
  background: var(--sy-c-bg-weak);
}

.sy-content input[name="q"] + input[type="submit"] {
  position: absolute;
  font-size: 0.68rem;
  font-weight: 600;
  font-family: var(--sy-f-text);
  padding: 2px 6px;
  margin: 6px;
  right: 0;
  border-radius: 3px;
  border: 1px solid var(--sy-c-divider);
  background-color: var(--sy-c-bg);
  opacity: 1;
  transition: opacity 0.2s ease;
}
