.sy-lside li {
  margin: 0.6rem 0;
}

.sy-lside .sidebar-links {
  margin-bottom: 2rem;
}

.sy-lside .sidebar-links span {
  display: inline-block;
  vertical-align: middle;
}

.sy-lside .sidebar-links .icon {
  padding: 0.1rem;
  border-radius: 6px;
  border: 1px solid var(--sy-c-border);
  margin-right: 0.4rem;
  opacity: 0.8;
}

.sy-lside .sidebar-links svg {
  width: 1.5rem;
  height: 1.5rem;
}

.sy-lside .sidebar-links a:hover .icon {
  opacity: 1;
}

.repo-stats {
  margin: 1rem 0;
  padding: 0.5rem 0;
  border-top: 1px solid var(--sy-c-divider);
  border-bottom: 1px solid var(--sy-c-divider);
}

.repo-stats-count {
  color: var(--sy-c-text-weak);
}

.repo-stats:hover .repo-stats-count {
  color: var(--sy-c-text);
}

.repo-stats strong {
  font-weight: 500;
  font-family: var(--sy-f-mono);
  color: inherit;
}

.edit-this-page {
  border-top: 1px solid var(--sy-c-divider);
  margin: 1rem 0;
  padding: 0.5rem 0;
  font-size: 0.8rem;
  font-weight: 600;
}

.repo-stats + .edit-this-page {
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
}

.edit-this-page a {
  color: var(--sy-c-text-weak);
}

.edit-this-page a:hover {
  color: var(--sy-c-text);
}

.edit-this-page a:after {
  content: " →";
}

@media (min-width: 768px) {
  .sy-lside .sy-scrollbar {
    height: calc(100vh - var(--sy-s-offset-top));
    overflow-x: hidden;
  }
}
