.sy-sidebar {
  --sy-s-bottom-height: 52px;
}

.sy-sidebar li {
  margin: 0.6rem 0;
}

@media (max-width: 767px) {
  .sy-sidebar {
    position: fixed;
    z-index: 15;
    top: calc(var(--sy-s-offset-top) - 1px);
    bottom: 0;
    width: 100%;
    height: calc(100vh - var(---sy-s-offset-top));
    overflow: auto;
    background: rgba(var(--sy-rc-bg), .98);
    transform: translateY(-100%);
    transition: transform .2s ease;
  }
  body[data-expanded-m-navbar="true"] {
    overflow: hidden;
  }
  body[data-expanded-m-navbar="true"] .sy-sidebar {
    transform: translateY(0);
  }
}

@media (min-width: 768px) {
  .sy-sidebar-scroller {
    height: calc(100vh - var(--sy-s-offset-top) - var(--sy-s-bottom-height));
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-gutter: stable;
  }
}

.sy-sidebar-bottom {
  position: sticky;
  bottom: 0;
  height: var(--sy-s-bottom-height);
  border-top: 1px solid var(--sy-c-divider);
  background-color: var(--sy-c-bg);
  --tw-shadow: 0 -12px 16px var(--sy-c-bg);
  box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow);
}
