.sy-sidebar {
  --sy-s-bottom-height: 52px;
}

.sy-sidebar li {
  margin: 0.6rem 0;
}

@media (min-width: 768px) {
  .sy-sidebar .sy-scrollbar {
    height: calc(100vh - var(--sy-s-offset-top) - var(--sy-s-bottom-height));
    overflow-x: hidden;
  }
}

.sy-sidebar-bottom {
  position: sticky;
  bottom: 0;
  height: var(--sy-s-bottom-height);
  border-top: 1px solid var(--sy-c-divider);
  background-color: var(--sy-c-bg);
  --tw-shadow: 0 -12px 16px var(--sy-c-bg);
  box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow);
}
