:root {
  --sy-f-sys: -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Droid Sans, Helvetica Neue;
  --sy-f-cjk: PingFang SC, Hiragino Sans GB, Droid Sans Fallback, Microsoft YaHei;
  --sy-f-heading: var(--sy-f-sys), var(--sy-f-cjk), sans-serif;
  --sy-f-text: var(--sy-f-sys), var(--sy-f-cjk), sans-serif;
  --sy-f-mono: Menlo, Monaco, Consolas, "Courier New", monospace;
  --sy-s-banner-height: 0rem;
  --sy-s-navbar-height: 56px;
  --sy-s-offset-top: calc(var(--sy-s-navbar-height) + var(--sy-s-banner-height));

  --sy-c-divider: var(--gray-4);
  --sy-c-divider-weak: var(--gray-3);
  --sy-c-border: var(--gray-4);
  --sy-c-link: var(--accent-10);
  --sy-c-link-weak: var(--accent-8);
  --sy-c-link-strong: var(--accent-11);

  --sy-c-text: var(--gray-12);
  --sy-c-text-weak: var(--gray-11);
  --sy-c-text-strong: var(--sage-12);

  --sy-c-background: white;
  --sy-c-background-weak: var(--gray-2);
  --sy-c-background-contrast: black;
}

html.light {
  color-scheme: light;
  --sy-c-background: white;
  --sy-c-background-contrast: black;
}

html.dark {
  color-scheme: dark;
  --sy-c-background: var(--slate-1);
  --sy-c-background-contrast: var(--white-a10);
}

html {
  color: var(--sy-c-text);
  background-color: var(--sy-c-background);
}
