:root {
  --sy-f-sys: -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Droid Sans, Helvetica Neue;
  --sy-f-cjk: Noto Sans;
  --sy-f-heading: var(--sy-f-sys), var(--sy-f-cjk), sans-serif;
  --sy-f-text: var(--sy-f-sys), var(--sy-f-cjk), sans-serif;
  --sy-f-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --sy-s-banner-height: 0rem;
  --sy-s-navbar-height: 56px;
  --sy-s-offset-top: calc(var(--sy-s-navbar-height) + var(--sy-s-banner-height));

  --sy-c-divider: var(--gray-4);
  --sy-c-border: var(--gray-5);

  /* colors for text */
  --sy-c-text: var(--gray-12);
  --sy-c-light: var(--gray-11);
  --sy-c-bold: var(--slate-12);
  --sy-c-heading: var(--sage-12);

  /* colors for link */
  --sy-c-link: var(--accent-9);
  --sy-c-link-hover: var(--accent-a11);

  /* colors for background */
  --sy-c-background: white;
  --sy-c-surface: var(--gray-a2);
  --sy-c-overlay: var(--black-a5);
  --sy-c-background-contrast: black;

  /* colors for footer */
  --sy-c-foot-text: var(--sy-c-text);
  --sy-c-foot-background: var(--slate-2);
  --sy-c-foot-divider: var(--sy-c-divider);

  --sy-dropdown-shadow: 0 12px 32px var(--gray-a6), 0 2px 6px var(--gray-a4);
}

[lang^="zh-Hans"],
[lang="zh"],
[lang="zh-CN"] {
  --sy-f-cjk: PingFang SC, Hiragino Sans GB, Noto Sans SC, Microsoft YaHei;
}

[lang^="zh-Hant"],
[lang="zh-TW"] {
  --sy-f-cjk: PingFang TC, Noto Sans TC, Microsoft JhengHei;
}

[lang="zh-HK"],
[lang="zh-Hant-HK"] {
  --sy-f-cjk: PingFang HK, Noto Sans HK, Microsoft JhengHei;
}

[lang="ja"] {
  --sy-f-cjk: Hiragino Sans, Noto Sans JP, Yu Gothic;
}

[data-accent-color='sky'],
[data-accent-color='mint'],
[data-accent-color='lime'],
[data-accent-color='yellow'],
[data-accent-color='amber'] {
  --sy-c-link: var(--accent-a10);
}

html.light {
  color-scheme: light;
  --sy-c-background: white;
  --sy-c-background-contrast: black;
}

html.dark {
  color-scheme: dark;
  --sy-c-background: var(--slate-1);
  --sy-c-overlay: var(--white-a2);
  --sy-c-background-contrast: var(--white-a10);
  --sy-c-foot-background: var(--black-a11);
  --sy-c-foot-divider: var(--black-a12);
}

html {
  color: var(--sy-c-text);
  background-color: var(--sy-c-background);
}
