.yue button.copybtn {
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  color: var(--syntax-text);
}

.yue button.copybtn > svg {
  width: 1.4rem;
  height: 1.4rem;
}

.yue button.copybtn:hover {
  color: var(--syntax-comment);
}

.yue .highlight button.copybtn:hover {
  background-color: transparent;
}

.yue button.copybtn:after {
  background-color: transparent;
  color: var(--syntax-text);
}

.yue button.copybtn.success {
  border-color: var(--green-a10);
  color: var(--green-a10);
}

.yue button.copybtn.success:after {
  color: var(--green-a10);
}

.code-block-caption + div > .highlight .copybtn {
  top: -2em;
  opacity: 0.5;
}
