.yue {
  --jp-widgets-input-border-color: var(--gray-5);
  --jp-widgets-input-focus-border-color: var(--gray-8);
  --jp-widgets-slider-active-handle-color: var(--gray-4);
  --jp-widgets-slider-handle-border-color: var(--sy-c-border);
}

.yue .jupyter_container {
  background-color: var(--sy-c-background);
  border: 3px solid var(--sy-c-border);
  border-radius: 6px;
  overflow: hidden;
  box-shadow: none;
}

.sy-main .yue .jupyter_container div[class^="highlight"] {
  padding: 0;
}

.yue .jupyter_container div.highlight {
  background-color: var(--syntax-pre-bg);
}

.yue .jupyter_container div.cell_input {
  background-color: var(--syntax-pre-bg);
  border: 0;
  border-radius: 0;
}

.yue .jupyter_container div.code_cell pre {
  padding: 0;
}

.jupyter_container div.cell_output .output,
.jupyter_container div.cell_output .stderr,
.jupyter_container div.cell_output .widget-subarea {
  padding: 0.5rem;
}

.jupyter_container div.cell_output .stderr .stderr {
  padding: 0;
}

.widget-hslider .slider-container,
.jupyter-widget-hslider .slider-container {
  display: flex;
  align-items: center;
}
.widget-slider .noUi-target,
.jupyter-widget-slider .noUi-target {
  width: 100%;
}

/* reset code block style */
.jupyter_container div.code_cell .highlight > pre {
  padding: 1rem;
}

.jupyter_container div.code_cell  .highlight .hll {
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 0 1rem;
}

.jupyter_container div.code_cell .highlight .linenos {
  margin-right: 0.8rem;
}

.yue .jupyter_container .stderr {
  color: var(--red-a11);
  background-color: var(--red-a3);
}

.yue .jupyter_container .stderr .stderr {
  background-color: transparent;
}
