.nbinput .highlight {
  --radius: 1px;
}

.yue div.nblast.container {
  padding-top: 5px;
}

.yue div.nbinput.container div.input_area {
  border-color: var(--sy-c-border);
}

.yue div.nboutput.container div.output_area.stderr {
  color: var(--red-a11);
  background-color: var(--red-a3);
}

.yue div.nboutput.container div.output_area > .math-wrapper > div.math {
  padding-top: 0;
}
