.nbinput .highlight {
  --radius: 1px;
}

.yue div.nbinput.container div.input_area {
  border-color: var(--sy-c-border);
}

.yue div.nboutput.container div.output_area.stderr {
  background-color: var(--stderr-bg);
}
