.sy-lside {
  --height: 42px;
}

.sy-lside-bottom {
  position: sticky;
  bottom: 0;
  padding: 0;
  border-top: 1px solid var(--sy-c-divider);
  background-color: var(--sy-c-bg);
  --tw-shadow: 0 -12px 16px var(--sy-c-bg);
  box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow);
}

.sy-lside .rst-versions {
  position: static;
  width: 100%;
  background-color: var(--sy-c-bg-weak);
  font-family: var(--sy-f-text);
}

.sy-lside .rst-versions a {
  color: var(--sy-c-link);
}

.sy-lside .rst-versions .rst-current-version {
  background-color: var(--sy-c-bg);
  color: var(--sy-c-text);
  padding: 0 1rem;
  height: var(--height);
  line-height: var(--height);
}

.sy-lside .rst-versions.rst-badge .rst-current-version {
  text-align: left;
  font-size: 0.94rem;
  padding: 0 1rem;
  height: var(--height);
  line-height: var(--height);
}

.sy-lside .rst-versions .rst-current-version .fa {
  color: var(--sy-c-text);
}

.sy-lside .rst-versions.rst-badge.shift-up .rst-current-version {
  text-align: left;
}
.sy-lside .rst-versions.rst-badge.shift-up .rst-current-version .fa-book {
  float: none
}

.sy-lside .rst-other-versions {
  font-size: 0.86rem;
  border-top: 1px solid var(--sy-c-divider);
}

.sy-lside .rst-other-versions dt {
  font-size: 0.68rem;
  font-weight: 500;
  padding: 4px 6px;
  color: var(--sy-c-text-weak);
}

.sy-lside .rst-versions .rst-other-versions dd a {
  color: var(--sy-c-text);
}

.sy-lside .rst-versions .rst-other-versions dd a:hover {
  text-decoration: underline;
  color: var(--sy-c-link);
}

.sy-lside .rst-versions input {
  width: 100%;
  padding: 6px 12px;
  font-size: 0.92rem;
  font-family: var(--sy-f-text);
  border-radius: 6px;
  outline: 0;
  background: var(--sy-c-bg);
  border: 1px solid var(--sy-c-border);
}

.sy-lside .rst-versions .rst-other-versions hr {
  border-color: var(--sy-c-divider);
}

@media (min-width: 90rem) {
  .sy-lside .rst-versions {
    background: var(--sy-c-bg);
  }
}
