/* tweak the style of sphinx-design extension */
.yue {
  --sd-color-primary: var(--accent-a11);
  --sd-color-secondary: var(--gold-a11);
  --sd-color-success: var(--green-a11);
  --sd-color-info: var(--blue-a11);
  --sd-color-warning: var(--orange-a11);
  --sd-color-danger: var(--red-a11);
  --sd-color-light: var(--sand-a2);
  --sd-color-muted: var(--gray-8);
  --sd-color-dark: #212122;
  --sd-color-black: black;
  --sd-color-white: white;

  --sd-color-primary-highlight: var(--accent-a8);
  --sd-color-secondary-highlight: var(--gold-a8);
  --sd-color-success-highlight: var(--green-a8);
  --sd-color-info-highlight: var(--blue-a8);
  --sd-color-warning-highlight: var(--orange-a8);
  --sd-color-danger-highlight: var(--red-a8);
  --sd-color-light-highlight: var(--gray-4);
  --sd-color-muted-highlight: var(--gray-11);
  --sd-color-dark-highlight: #121211;
  --sd-color-black-highlight: black;
  --sd-color-white-highlight: #d9d9d9;

  --sd-color-primary-text: var(--accent-contrast);
  --sd-color-secondary-text: var(--gold-contrast);
  --sd-color-success-text: var(--green-contrast);
  --sd-color-info-text: var(--blue-contrast);
  --sd-color-warning-text: var(--orange-contrast);
  --sd-color-danger-text: var(--red-contrast);
  --sd-color-light-text: var(--sy-c-text);
  --sd-color-muted-text: #fff;
  --sd-color-dark-text: #fff;
  --sd-color-black-text: #fff;
  --sd-color-white-text: #212529;

  --sd-color-shadow: var(--gray-1);

  --sd-color-card-border: var(--sy-c-border);
  --sd-color-card-border-hover: var(--accent-a9);

  --sd-color-tabs-label-inactive: var(--sy-c-bold);
  --sd-color-tabs-label-active: var(--sd-color-primary);
  --sd-color-tabs-underline-active: var(--sd-color-primary);
  --sd-color-tabs-label-hover: var(--accent-9);
  --sd-color-tabs-underline-hover: var(--accent-9);
}

.yue .surface {
  --sd-color-card-text: var(--sy-c-light);
  --sd-color-card-border: transparent;
  --sd-color-card-background: var(--sy-c-surface);
}

/* badge */
.yue a.sd-badge,
.yue a.sd-badge:hover {
  border-bottom: 0;
}

.yue .sd-badge {
  font-weight: 600;
  border-radius: 3px;
}

.yue .sd-btn {
  border-color: var(--sy-c-border);
}

/* tabs */
.yue .sd-tab-set > label {
  padding: 1rem 0.25rem 0.5rem;
  font-size: 0.84rem;
  font-weight: 500;
}

.yue .sd-tab-set > label ~ label {
  margin-left: 1rem;
}

.yue .sd-tab-content {
  padding: 0;
  box-shadow: 0 -0.0625rem var(--sy-c-divider);
}

.yue .sd-tab-content .code-block-caption,
.yue .sd-tab-content .highlight pre {
  border-radius: 0;
}

/* card */
.yue .sd-card-title {
  color: var(--sy-c-text);
}

.yue .sd-card-title > svg {
  position: relative;
  top: -1px;
  margin-right: 0.25rem;
}

.yue .sd-card-hover:hover {
  transform: scale(1);
}

.yue .sd-card-hover:hover .sd-card-title {
  color: var(--sy-c-link-hover);
}

.yue .sd-card a.sd-hide-link-text,
.yue .sd-card a.sd-hide-link-text:hover {
  border-bottom: 0;
}

.yue .surface .sd-card-header,
.yue .surface .sd-card-body,
.yue .surface .sd-card-footer {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.yue .surface .sd-card-header,
.yue .surface .sd-card-footer {
  border-color: var(--sy-c-border);
}

@media (print) {
  .yue .sd-card {
    page-break-inside: avoid;
  }
}

.yue a.sd-text-wrap:hover {
  border-bottom-width: 1px;
}
