{%- extends "layout.html" -%}

{%- block extrahead %}
  {% include "components/meta-opengraph.html" %}
{%- endblock %}

{% block body %}{{ body }}{% endblock %}

{% block themestyles %}
<style>
  .yue {
    padding-bottom: 2rem;
  }
  .yue section:first-of-type h1 {
    font-size: 4.2rem;
    margin-top: 3.4rem;
    margin-bottom: 1rem;
  }

  .injected,
  .yue a.headerlink {
    display: none;
  }
</style>
{% endblock %}

{% block afterarticle %}
{% include "partials/page-bottom.html" %}
{% endblock %}
