.back-to-top {
  display: none;
  align-items: center;
  gap: 0.25rem;
  position: fixed;
  z-index: 10;
  bottom: 68px;
  left: 50%;
  transform: translateX(-50%);

  background: var(--sy-c-background);
  border-radius: 2rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,.05), 0 0 1px 0 rgba(107, 114, 128, 0.5);
  font-size: .8rem;
  padding: .4rem .8rem .4rem .6rem;
}

.dark .back-to-top {
  background: var(--slate-2);
  box-shadow: 0 0.2rem 0.5rem rgba(255,255,255,.05), 0 0 1px 0 rgba(154, 164, 184, 0.5);
}

.back-to-top:hover {
  color: var(--accent-9-contrast);
  background: var(--accent-10);
}

.back-to-top svg {
  height: 1rem;
  width: 1rem;
  fill: currentColor;
  display: inline-block;
}

.back-to-top[data-visible="true"] {
  display: flex;
}
