.highlight > pre {
  display: grid;
  line-height: 1.48;
  padding: 1rem;
  font-size: 0.96rem;
  background-color: var(--sy-c-pre-bg);
  border-radius: 6px;
  overflow: auto;
}

.highlight .linenos {
  display: inline-block;
  box-shadow: -0.05rem 0 rgba(var(--sy-rc-invert), 0.2) inset;
  user-select: none;
  margin-right: .8rem;
  padding-right: .8rem;
  opacity: 0.6;
}

.highlight .hll {
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 0 1rem;
}

.code-block-caption {
  font-size: 0.84rem;
  font-weight: 500;
  background-color: var(--sy-c-cap-bg);
  padding: 0.4rem 1rem;
  border-radius: 6px 6px 0 0;
}

.code-block-caption + div > .highlight > pre {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

@media (max-width: 767px) {
  .yue section > .notranslate > .highlight,
  .yue section > .literal-block-wrapper {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
  .yue section > .notranslate > .highlight > pre,
  .yue section > .literal-block-wrapper .code-block-caption {
    border-radius: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .yue section > .literal-block-wrapper .code-block-caption + div > .highlight > pre {
    border-radius: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media print {
  .code-block-caption {
    font-weight: 600;
  }
  .code-block-caption + div > .highlight > pre {
    padding-top: 0;
  }
}
