.yue li > code,
.yue p > code {
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 3px;
  font-weight: 500;
  background-color: rgba(var(--sy-rc-theme), 0.05);
}

.highlight > pre {
  line-height: 1.48;
  padding: 1rem;
  font-size: 0.96rem;
  background-color: var(--sy-c-bg-pre);
  border-radius: 6px;
  overflow: auto;
}

.highlight .linenos {
  user-select: none;
  margin-right: 10px;
  opacity: 0.6;
}

.code-block-caption {
  font-size: 0.84rem;
  background-color: var(--sy-c-bg-cap);
  padding: 0.4rem 1rem;
  border-radius: 6px 6px 0 0;
}

.code-block-caption + div > .highlight > pre {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
