.demo {
  border: 1px solid var(--sy-c-border);
  border-radius: 6px;
}

.demo-code .highlight > pre {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.demo-result {
  padding: 1rem;
}

.image-container {
  border: 0.5rem solid var(--accent-a3);
  border-radius: 6px;
}

.image-container > img {
  border-radius: 4px;
}

.yue .image-container > img {
  margin: 0;
}
