/* ethical ads on rtd */
#ethical-ad-placement .ethical-sidebar {
  position: relative;
  background-color: var(--sy-c-bg-weak);
  border: none;
  padding: 0.8rem;
}

#ethical-ad-placement .ethical-text a {
  color: var(--sy-c-text) !important;
}

.sy-main #ethical-ad-placement .ethical-sidebar {
  margin-left: 0;
  max-width: 380px;
}

.sy-main #ethical-ad-placement .ethical-image-link {
  flex-shrink: 0;
  margin-right: 0.4rem;
}

.sy-main #ethical-ad-placement .ethical-content {
  display: flex;
}

.sy-main #ethical-ad-placement .ethical-text {
  margin-top: 0;
}

.sy-main #ethical-ad-placement .ethical-callout {
  position: absolute;
  right: 0.4rem;
  bottom: 0.4rem;
}

/* carbonads */
#carbonads {
  margin: 1rem 0;
  position: relative;
  display: block;
  background-color: var(--sy-c-bg-weak);
  border: none;
  border-radius: 8px;
  padding: 0.8rem 0.8rem 1.6rem;
}
#carbonads a {
  border: 0;
  font-weight: 400;
}
#carbonads img {
  margin: 0;
}
.carbon-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.carbon-text {
  display: block;
  margin: 0.5rem 0;
  line-height: 1.42;
  font-size: 0.78rem;
  text-align: center;
}
.carbon-text:hover {
  color: var(--sy-c-link);
}
.carbon-poweredby {
  position: absolute;
  right: 0.8rem;
  bottom: 0.5rem;
  font-size: 0.68rem;
  text-transform: uppercase;
}
.carbon-poweredby:hover {
  text-decoration: underline;
}

.sy-main #carbonads {
  max-width: 380px;
  padding: 1rem;
}

.sy-main .carbon-wrap {
  flex-direction: row;
  align-items: flex-start;
}

.sy-main .carbon-text {
  text-align: left;
  margin-top: 0;
  margin-left: 1rem;
  font-size: 0.86rem;
}
