/* ethical ads on rtd */
#ethical-ad-placement .ethical-sidebar {
  position: relative;
  background-color: var(--sy-c-bg-weak);
  border: none;
  padding: 0.8rem;
}

#ethical-ad-placement .ethical-text a {
  color: var(--sy-c-text) !important;
}

.sy-main #ethical-ad-placement .ethical-sidebar {
  margin-left: 0;
  max-width: 380px;
}

.sy-main #ethical-ad-placement .ethical-image-link {
  flex-shrink: 0;
  margin-right: 0.4rem;
}

.sy-main #ethical-ad-placement .ethical-content {
  display: flex;
}

.sy-main #ethical-ad-placement .ethical-text {
  margin-top: 0;
}

.sy-main #ethical-ad-placement .ethical-callout {
  position: absolute;
  right: 0.4rem;
  bottom: 0.4rem;
}

/* carbonads */
#carbonads {
  margin: 1rem 0;
  position: relative;
  display: block;
  background-color: var(--sy-c-bg-weak);
  border: none;
  border-radius: 8px;
  padding: 0.8rem 0.8rem 1.6rem;
}

#carbonads a {
  border: 0;
  font-weight: 400;
}

#carbonads img {
  margin: 0;
}

.carbon-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.carbon-text {
  display: block;
  margin: 0.5rem 0;
  line-height: 1.42;
  font-size: 0.78rem;
  text-align: center;
}

.carbon-text:hover {
  color: var(--sy-c-link);
}

.carbon-poweredby {
  position: absolute;
  right: 0.8rem;
  bottom: 0.5rem;
  font-size: 0.68rem;
  text-transform: uppercase;
}

.carbon-poweredby:hover {
  text-decoration: underline;
}

.sy-main #carbonads {
  max-width: 380px;
  padding: 1rem;
}

.sy-main .carbon-wrap {
  flex-direction: row;
  align-items: flex-start;
}

.sy-main .carbon-text {
  text-align: left;
  margin-top: 0;
  margin-left: 1rem;
  font-size: 0.86rem;
}

/* buysellads */
.bsa-bar {
  display: flex;

  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: inset 0 0 2px hsla(0, 0%, 0%, 0.15);
  text-decoration: none;
}

.bsa-main {
  display: flex;

  flex-grow: 1;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.bsa-img {
  max-height: 40px;
  margin-right: 20px;
  line-height: 0;
}


.bsa-details {
  display: flex;
  flex-flow: column nowrap;
  margin-right: 20px;
}

.bsa-tagline {
  margin-bottom: 3px;
  font-weight: 600;

  font-size: 9px;
  line-height: 1;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.bsa-desc {
  max-width: 600px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 1px;
}

.bsa-cta {
  padding: 10px 16px;
  transform: translateY(-1px);
  border-radius: 3px;
  font-weight: 600;

  font-size: 10px;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 940px) {
  .bsa-details {
    font-size: 14px;
    margin-right: 0;
  }

  .bsa-cta {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 820px) {
  .bsa-img {
    display: none;
  }
}

@media (max-width: 480px) {
  .bsa-img {
    display: none;
  }
}
