.globaltoc .caption {
  font-size: 0.86rem;
  font-weight: 500;
  font-family: var(--sy-f-heading);
  color: var(--sy-c-text-weak);
  text-transform: uppercase;
  letter-spacing: 0.4px;
  padding: .8rem 0 0.4rem;
  border-top: 1px solid var(--sy-c-divider);
}

.globaltoc > p.caption:first-of-type {
  padding-top: 0;
  border-top: none;
}

.globaltoc .caption + ul {
  margin-bottom: 1.5rem;
}

.globaltoc ul + .caption {
  margin-top: 3rem;
}

.globaltoc li {
  margin: 0.6rem 0;
}

.globaltoc > ul > li > ul {
  margin-left: 0.2rem;
  border-left: 1px solid var(--sy-c-divider-weak);
  font-size: 0.96rem;
}

.globaltoc li.toctree-l2 {
  padding-left: 0.9rem;
  margin-left: -1px;
  border-left: 1px solid transparent;
}

.globaltoc li.toctree-l2.current {
  border-color: var(--sy-c-link);
}

.globaltoc > ul a.current {
  font-weight: 500;
  color: var(--sy-c-link);
}

.globaltoc > ul a:hover {
  color: var(--sy-c-bold);
}
