.hamburger {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 14px;
  overflow: hidden;
  cursor: pointer;
}

.hamburger > span {
  position: absolute;
  width: 16px;
  height: 2px;
  left: 0;
  background-color: var(--sy-c-text);
  transition: top .25s, transform .25s;
}

.hamburger_1 {
  top: 0;
}

.hamburger_2 {
  top: 6px;
  transform: translate(-0.5rem);
}

.hamburger_3 {
  top: 12px;
  transform: translate(-0.25rem);
}

button[aria-expanded=true] .hamburger .hamburger_1 {
  top: 6px;
  transform: translate(0) rotate(225deg);
}

button[aria-expanded=true] .hamburger .hamburger_2 {
  top: 6px;
  transform: translate(18px);
}

button[aria-expanded=true] .hamburger .hamburger_3 {
  top: 6px;
  transform: translate(0) rotate(135deg);
}
