.localtoc > h3 {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.localtoc > ul > li > a {
  display: none;
}

.localtoc > ul > li > ul li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.localtoc > ul > li > ul li.active > a{
  font-weight: 500;
  color: var(--sy-c-link);
}

.localtoc > ul > li > ul > li > ul {
  padding-left: 0.8rem;
}
