.navigation {
  gap: 2rem;
  padding-top: 1rem;
  border-top: 1px solid var(--sy-c-divider);
}

.navigation i.chevron {
  --icon-url: var(--i-chevron-url);
}

.navigation > div {
  width: 100%;
}

.navigation a {
  display: inline-flex;
  align-items: center;
}

.navigation a:hover {
  color: var(--sy-c-link);
}

.navigation-prev i.chevron {
  transform: rotate(180deg);
}

.navigation-next {
  text-align: right;
}

.navigation-next a {
  justify-content: end;
}

.navigation .page-info {
  padding: 0 8px;
}

.navigation .page-info > span {
  font-size: 0.8rem;
  color: var(--sy-c-text-weak);
}
