.repo-stats {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid var(--sy-c-divider);
  border-radius: 6px;
}

.repo-stats:hover {
  background-color: var(--sy-c-surface);
}

.repo-stats-count {
  color: var(--sy-c-light);
}

.repo-stats strong {
  font-weight: 500;
  font-family: var(--sy-f-mono);
  color: inherit;
}
