.searchbox {
  position: relative;
}

.searchbox input {
  appearance: none;
  width: 100%;
  padding: 6px 12px;
  font-size: 0.92rem;
  font-family: var(--sy-f-text);
  border-radius: 6px;
  outline: 0;
  background: var(--sy-c-surface);
}

.searchbox kbd,
.searchbox button {
  position: absolute;
  font-size: 0.68rem;
  font-weight: 600;
  font-family: var(--sy-f-mono);
  padding: 2px 6px;
  margin: 6px;
  right: 0;
  border-radius: 3px;
  border: 1px solid var(--sy-c-border);
  background-color: var(--sy-c-background);
  opacity: 1;
  transition: opacity 0.2s ease;
}

.searchbox input:focus + kbd {
  opacity: 0;
}

.searchform {
  display: flex;
  position: relative;
  align-items: center;
}

.searchform input[name="q"] {
  appearance: none;
  width: 100%;
  padding: 6px 12px;
  font-size: 0.92rem;
  font-family: var(--sy-f-text);
  border-radius: 6px;
  outline: 0;
  background: var(--sy-c-surface);
}

.searchform input[name="q"] + button {
  position: absolute;
  font-size: 0.68rem;
  font-weight: 600;
  font-family: var(--sy-f-text);
  padding: 2px 6px;
  margin: 6px;
  right: 0;
  border-radius: 3px;
  border: 1px solid var(--sy-c-divider);
  background-color: var(--sy-c-background);
  opacity: 1;
  transition: opacity 0.2s ease;
}

.search .highlighted {
  background-color: var(--accent-a4);
}

#search-results {
  border-top: 1px solid var(--sy-c-border);
}

#search-results h2 {
  margin-top: 2rem;
  margin-bottom: 0.725rem;
}

#search-results .search-summary {
  font-weight: 500;
  color: var(--sy-c-light);
}

#search-results ul.search {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  padding-top: 0.625rem;
  padding-bottom: 2rem;
}

#search-results ul.search > li {
  padding-left: 0;
}

#search-results ul.search > li + li {
  padding-top: 1rem;
  border-top: 1px solid var(--sy-c-divider);
}

#search-results ul.search li > a {
  font-weight: 600;
}

#search-results ul.search p.context {
  margin-top: 0.5rem;
  font-size: 0.875rem;
}
