.yue dl.simple > dd > p,
.yue ul.simple > li > p {
  margin: 0;
}

.yue a.headerlink {
  visibility: hidden;
  margin-left: 6px;
  color: rgba(var(--sy-rc-text), 0.6);
  font-weight: 300;
  font-family: var(--sy-f-mono);
}

h2:hover a.headerlink,
h3:hover a.headerlink,
h4:hover a.headerlink,
h5:hover a.headerlink,
h6:hover a.headerlink {
  visibility: visible;
}

.yue .toctree-wrapper a {
  border-bottom: none;
}

.yue .align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.yue figure.align-center img {
  margin-left: auto;
  margin-right: auto;
}

a.footnote-reference {
  font-size: 0.65rem;
  vertical-align: top;
}

aside.footnote > span,
div.citation > span {
  float: left;
  font-weight: 500;
  padding-right: .25rem;
}
aside.footnote > p,
div.citation > p {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  margin-left: 2rem;
}

.yue kbd:not(.compound) {
  font-size: 0.86rem;
}

/* -- extra -- */
.hlist td {
  vertical-align: top;
}

p.centered {
  text-align: center;
}
