{% extends "base.html" %}

{% block extrahead %}
  {% include "partials/opengraph.html" %}
{% endblock %}

{% block body %}
{% if display_toc and toc %}
<input class="hidden" id="__rside" type="checkbox">
<label class="sy-overlay" for="__rside"></label>
{%- endif -%}
<div class="sy-page sy-container flex mx-auto">
  <aside id="m-navbar" class="sy-lside md:w-64 md:shrink-0 print:hidden">
    <div class="sy-lside-inner md:sticky md:top-16">
      <div class="md:hidden pt-6 px-6">
        {%- include "components/searchbox2.html" %}
      </div>
      <div class="md:hidden pt-3 px-6">
        {%- include "components/nav-links.html" %}
      </div>
      <div class="sy-scrollbar p-6">
        {%- include "partials/sidebar-links.html" %}
        <div class="globaltoc">
          {{ toctree(collapse=False, titles_only=True, includehidden=True) }}
        </div>
      </div>
      <div class="sy-lside-bottom mx-6 flex items-center">
        {% include "components/theme_select.html" %}
      </div>
    </div>
  </aside>
  <aside class="sy-rside pb-3 w-64 shrink-0 order-last">
    <div class="sy-scrollbar px-6 xl:top-16 xl:sticky xl:pl-0 pt-6 pb-4">
      {%- if sidebars %}
        {%- for sidebartemplate in sidebars %}
          {%- include sidebartemplate %}
        {%- endfor %}
      {%- endif %}
    </div>
  </aside>
  <main class="sy-main w-full max-sm:max-w-full print:pt-6">
    <div class="flex flex-col break-words justify-between">
      <div class="min-w-0 max-w-6xl px-6 pb-6 pt-6 xl:px-12">
        <article class="yue" role="main">
          {% block content %}{{ body }}{% endblock %}
        </article>
        {% include "partials/article-bottom.html" %}
      </div>
      <div class="min-w-0 max-w-6xl px-6 pb-6 xl:pt-6 xl:px-12">
        {% include "components/navigation.html" %}
        {% include "partials/page-bottom.html" %}
      </div>
    </div>
  </main>
</div>
{% endblock %}
