:root {
  --attention-icon: var(--lucide-alert-url);
  --attention-1: var(--crimson-surface);
  --attention-2: var(--crimson-a3);
  --attention-3: var(--crimson-9);
  --attention-4: var(--crimson-a11);

  --caution-icon: var(--lucide-zap-url);
  --caution-1: var(--amber-surface);
  --caution-2: var(--amber-a3);
  --caution-3: var(--amber-9);
  --caution-4: var(--amber-11);

  --danger-icon: var(--lucide-skull-url);
  --danger-1: var(--ruby-surface);
  --danger-2: var(--ruby-a3);
  --danger-3: var(--ruby-9);
  --danger-4: var(--ruby-a11);

  --error-icon: var(--lucide-close-url);
  --error-1: var(--red-surface);
  --error-2: var(--red-a3);
  --error-3: var(--red-9);
  --error-4: var(--red-a11);

  --hint-icon: var(--lucide-bell-url);
  --hint-1: var(--cyan-surface);
  --hint-2: var(--cyan-a3);
  --hint-3: var(--cyan-9);
  --hint-4: var(--cyan-a11);

  --important-icon: var(--lucide-flame-url);
  --important-1: var(--violet-surface);
  --important-2: var(--violet-a3);
  --important-3: var(--violet-9);
  --important-4: var(--violet-a11);

  --note-icon: var(--lucide-calendar-url);
  --note-1: var(--blue-surface);
  --note-2: var(--blue-a3);
  --note-3: var(--blue-9);
  --note-4: var(--blue-a11);

  --tip-icon: var(--lucide-rocket-url);
  --tip-1: var(--green-surface);
  --tip-2: var(--green-a3);
  --tip-3: var(--green-9);
  --tip-4: var(--green-a11);

  --warning-icon: var(--lucide-zap-url);
  --warning-1: var(--orange-surface);
  --warning-2: var(--orange-a3);
  --warning-3: var(--orange-9);
  --warning-4: var(--orange-a11);

  --seealso-icon: var(--lucide-link-url);
  --seealso-1: var(--gold-surface);
  --seealso-2: var(--gold-a3);
  --seealso-3: var(--gold-9);
  --seealso-4: var(--gold-a11);

  --todo-icon: var(--lucide-bookmark-url);
  --todo-1: var(--bronze-surface);
  --todo-2: var(--bronze-a3);
  --todo-3: var(--bronze-9);
  --todo-4: var(--bronze-a11);

  --versionadded-1: var(--green-surface);
  --versionadded-2: var(--green-9);
  --versionchanged-1: var(--amber-surface);
  --versionchanged-2: var(--amber-9);
  --versionremoved-1: var(--red-surface);
  --versionremoved-2: var(--red-9);
  --deprecated-1: var(--red-surface);
  --deprecated-2: var(--red-9);
}

.admonition {
  --icon-url: var(--lucide-bell-url);
  --color-1: var(--color-surface-accent);
  --color-2: var(--accent-a3);
  --color-3: var(--accent-9);
  --color-4: var(--accent-a11);

  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0.825rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-left: 4px solid var(--color-3);
  background-color: var(--color-1);
}

.admonition:before {
  position: absolute;
  content: '';
  top: 6px;
  left: -12px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: var(--color-3);
}

.admonition:after {
  position: absolute;
  content: '';
  top: 10px;
  left: -8px;
  mask: var(--icon-url) no-repeat;
  mask-size: 100% 100%;
  font-style: normal;
  width: 12px;
  height: 12px;
  background-color: #fff;
}

.admonition p.admonition-title {
  position: relative;
  margin: -0.825rem -1rem 0.825rem -19px;
  padding: 4px 18px;
  font-size: .85rem;
  font-weight: 600;
  line-height: 1.72;
  color: var(--color-4);
  background-color: var(--color-2);

  --yue-c-code: var(--color-4);
  --yue-c-bold: var(--color-4);
}

.admonition p.admonition-title svg {
  display: inline-block;
}

.admonition.attention {
  --icon-url: var(--attention-icon);
  --color-1: var(--attention-1);
  --color-2: var(--attention-2);
  --color-3: var(--attention-3);
  --color-4: var(--attention-4);
}

.admonition.caution {
  --icon-url: var(--caution-icon);
  --color-1: var(--caution-1);
  --color-2: var(--caution-2);
  --color-3: var(--caution-3);
  --color-4: var(--caution-4);
}

.admonition.danger {
  --icon-url: var(--danger-icon);
  --color-1: var(--danger-1);
  --color-2: var(--danger-2);
  --color-3: var(--danger-3);
  --color-4: var(--danger-4);
}

.admonition.error {
  --icon-url: var(--error-icon);
  --color-1: var(--error-1);
  --color-2: var(--error-2);
  --color-3: var(--error-3);
  --color-4: var(--error-4);
}

.admonition.hint {
  --icon-url: var(--hint-icon);
  --color-1: var(--hint-1);
  --color-2: var(--hint-2);
  --color-3: var(--hint-3);
  --color-4: var(--hint-4);
}

.admonition.important {
  --icon-url: var(--important-icon);
  --color-1: var(--important-1);
  --color-2: var(--important-2);
  --color-3: var(--important-3);
  --color-4: var(--important-4);
}

.admonition.note {
  --icon-url: var(--note-icon);
  --color-1: var(--note-1);
  --color-2: var(--note-2);
  --color-3: var(--note-3);
  --color-4: var(--note-4);
}

.admonition.tip {
  --icon-url: var(--tip-icon);
  --color-1: var(--tip-1);
  --color-2: var(--tip-2);
  --color-3: var(--tip-3);
  --color-4: var(--tip-4);
}

.admonition.warning {
  --icon-url: var(--warning-icon);
  --color-1: var(--warning-1);
  --color-2: var(--warning-2);
  --color-3: var(--warning-3);
  --color-4: var(--warning-4);
}

.admonition.seealso {
  --icon-url: var(--seealso-icon);
  --color-1: var(--seealso-1);
  --color-2: var(--seealso-2);
  --color-3: var(--seealso-3);
  --color-4: var(--seealso-4);
}

.admonition.admonition-todo {
  --icon-url: var(--todo-icon);
  --color-1: var(--todo-1);
  --color-2: var(--todo-2);
  --color-3: var(--todo-3);
  --color-4: var(--todo-4);
}

.yue .admonition > * {
  margin-top: 0;
}

.yue .admonition > :last-child {
  margin-bottom: 0 !important;
}


/* versioning directives */
span.versionmodified {
  color: var(--sy-c-bold);
  font-weight: 600;
}
div.versionadded,
div.versionchanged,
div.versionremoved,
div.deprecated {
  position: relative;
  padding: 6px 1rem;
  margin: 1rem 0;
  border-left: 4px solid var(--color-2);
  background-color: var(--color-1);
  line-height: 1.72;
}

div.versionadded:before,
div.versionchanged:before,
div.versionremoved:before,
div.deprecated:before {
  position: absolute;
  content: var(--version-icon);
  top: 10px;
  left: -12px;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: var(--color-2);
  text-align: center;
  font: normal bold 14px/20px var(--sy-f-mono);
}

div.versionadded {
  --color-1: var(--versionadded-1);
  --color-2: var(--versionadded-2);
  --version-icon: '#';
}
div.versionchanged {
  --color-1: var(--versionchanged-1);
  --color-2: var(--versionchanged-2);
  --version-icon: '%';
}
div.versionremoved {
  --color-1: var(--versionremoved-1);
  --color-2: var(--versionremoved-2);
  --version-icon: '*';
}
div.deprecated {
  --color-1: var(--deprecated-1);
  --color-2: var(--deprecated-2);
  --version-icon: '!';
}
div.versionadded > p,
div.versionchanged > p,
div.versionremoved > p,
div.deprecated > p {
  margin: 0;
}
