html.light {
  --sig-property: var(--syntax-light-keyword);
  --sig-name: var(--syntax-light-property);
  --sig-typehint: var(--syntax-light-constant);
}
html.dark {
  --sig-property: var(--syntax-dark-keyword);
  --sig-name: var(--syntax-dark-property);
  --sig-typehint: var(--syntax-dark-constant);
}

dt.sig {
  position: relative;
  font-size: 0.92rem;
  padding: .25rem .5rem .25rem 3rem;
  text-indent: -2.4rem;
  border-radius: 6px;
}

dt.sig:after {
  content: '';
  display: table;
  clear: both;
}

dt.sig:hover {
  background: var(--sy-c-bg-weak);
}

dt.sig + dd {
  font-size: 0.92rem;
  margin-left: 2rem;
}

dt.sig > em.property:first-child {
  color: var(--sig-property);
}

dl.field-list a {
  font-weight: 400;
}

dt.sig + dd > div {
  margin-bottom: 1rem;
}

dt.sig + dd > dl.field-list > dt {
  text-transform: uppercase;
  font-size: 0.76rem;
}

em.property,
em.sig-param {
  font-style: normal;
}

em.sig-param {
  color: var(--sy-c-text-weak);
}

span.sig-prename,
span.sig-name {
  color: var(--sig-name);
}

span.sig-name {
  font-weight: 600;
}

span.sig-return-icon {
  color: var(--sy-c-text-weak);
}

span.sig-return-typehint,
span.sig-return-typehint > a {
  color: var(--sig-typehint);
}

span.sig-paren,
span.pre {
  font-family: var(--sy-f-mono);
}

dt.sig > a.internal {
  font-size: 0.82rem;
  border: 0;
  color: var(--sy-c-text-weak);
}

dt.sig > a.internal:before {
  content: '\a';
  white-space: pre;
}

/* viewcode */
.viewcode-block {
  position: relative;
}

.viewcode-back {
  position: absolute;
  top: -1.5rem;
  font-size: 0.8rem;
}

.classifier {
  font-style: oblique;
  font-weight: 400;
}

.classifier:before {
  font-style: normal;
  margin-left: 0.1rem;
  margin-right: 0.5rem;
  content: ":";
  display: inline-block;
}

/* autosummary table */
.yue .table-wrapper table.autosummary td {
  border: none;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.yue p.rubric + div.autosummary {
  margin-top: 0;
}
