:root {
  --code-block-background: var(--accent-a2);
  --code-block-caption-background: var(--accent-a3);
  --code-block-highlight: var(--accent-a3);
  --code-block-linenos-divider: var(--gray-a6);
}

html.light {
  --syntax-text: var(--syntax-light-text);
  --syntax-comment: var(--syntax-light-comment);
}

html.dark,
html.light .dark-code {
  --syntax-text: var(--syntax-dark-text);
  --syntax-comment: var(--syntax-dark-comment);
}

.light .dark-code {
  --code-block-background: var(--black-a12);
  --code-block-caption-background: #1C2024;
  --code-block-highlight: var(--white-a2);
  --code-block-linenos-divider: var(--white-a4);
}

.highlight {
  color: var(--syntax-text);
}

.highlight .hll {
  display: block;
  background-color: var(--code-block-highlight)
}

pre.literal-block {
  line-height: 1.48;
  padding: 1rem;
  font-size: 0.96rem;
  background-color: var(--code-block-background);
  border-radius: 6px;
  overflow: auto;
}

.highlight,
.literal-block-wrapper {
  --margin: 1rem;
  --radius: 6px;
}

.literal-block-wrapper div[class^=highlight-] {
  display: flex;
}

.literal-block-wrapper .highlight  {
  width: 100%;
}

.highlight > pre {
  line-height: 1.48;
  padding: var(--margin);
  font-size: 0.96rem;
  font-family: var(--sy-f-mono);
  background-color: var(--code-block-background);
  border-radius: var(--radius);
  overflow: auto;
}

.win .highlight > pre {
  font-family: "Twemoji Country Flags", var(--sy-f-mono);
}

.highlight .gp,
.highlight .linenos {
  user-select: none;
}

.highlight .linenos {
  display: inline-block;
  box-shadow: -0.05rem 0 var(--code-block-linenos-divider) inset;
  margin-right: .8rem;
  padding-right: .8rem;
  opacity: 0.6;
}

.highlight .hll {
  margin-left: calc(0rem - var(--margin));
  margin-right: calc(0rem - var(--margin));
  padding: 0 var(--margin);
}

.code-block-caption {
  display: flex;
  font-size: 0.84rem;
  font-weight: 600;
  color: var(--syntax-text);
  background-color: var(--code-block-caption-background);
  padding: 0.4rem var(--margin);
  border-radius: var(--radius) var(--radius) 0 0;
}

.code-block-caption + div > .highlight > pre {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

div[class^="highlight"] > .highlight > pre {
  display: grid;
}
