.yue dl.simple > dd > p,
.yue ul.simple > li > p,
.yue ol.simple > li > p {
  margin: 0;
}

.yue a.headerlink {
  visibility: hidden;
  margin-left: 6px;
  color: rgba(var(--sy-rc-text), 0.6);
  font-weight: 300;
  font-family: var(--sy-f-mono);
}

.yue .math a.headerlink {
  visibility: visible;
}

h2:hover a.headerlink,
h3:hover a.headerlink,
h4:hover a.headerlink,
h5:hover a.headerlink,
h6:hover a.headerlink {
  visibility: visible;
}

.yue .toctree-wrapper a {
  border-bottom: none;
}

.yue .toctree-wrapper p.caption {
  font-size: 0.86rem;
  font-weight: 500;
  font-family: var(--sy-f-heading);
  color: var(--sy-c-text-weak);
  text-transform: uppercase;
  letter-spacing: 0.4px;
  padding: .8rem 0 0.4rem;
  border-bottom: 1px solid var(--sy-c-divider);
}

.yue .align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.yue figure.align-center img {
  margin-left: auto;
  margin-right: auto;
}

a.footnote-reference {
  font-size: 0.65rem;
  vertical-align: top;
}

aside.footnote > span,
div.citation > span {
  float: left;
  font-weight: 500;
  padding-right: .25rem;
}
aside.footnote > p,
div.citation > p {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  margin-left: 2rem;
}

.yue kbd.kbd:not(.compound) {
  font-size: 0.86rem;
  padding: 2px 5px;
  border-radius: 3px;
  margin-right: 0.25rem;
}

.yue kbd.compound > kbd {
  margin-left: 0.25rem;
}

.light .yue kbd.kbd:not(.compound) {
  background: linear-gradient(-225deg, #e6e6e6, #f8f8f8);
  box-shadow: inset 0 -2px #dbdbdb, inset 0 0 1px 1px #fff, 0 1px 2px 1px #50505066;
}
.dark .yue kbd.kbd:not(.compound) {
  background: linear-gradient(-225deg, #353434, #141414);
  box-shadow: inset 0 -2px #373737, inset 0 0 1px 1px #222, 0 1px 2px 1px #000;
}

/* -- extra -- */
.hlist td {
  vertical-align: top;
}

p.centered {
  text-align: center;
}

/* index table */
.yue .genindex-jumpbox,
.yue .modindex-jumpbox {
  border-top: 1px solid var(--sy-c-border);
  border-bottom: 1px solid var(--sy-c-border);
  padding: 2px 0.4rem;
}

.yue table.modindextable td:first-of-type {
  width: 28px;
}

.yue table.modindextable img.toggler {
  margin: 0;
}

.yue table.modindextable tr.cap {
  font-size: 1.12rem;
  background: var(--sy-c-bg-weak);
  font-family: var(--sy-f-mono);
}

.yue h2 + table.indextable {
  margin-top: 0;
}

.yue table.indextable ul {
  margin-top: 0;
}
