.yue p.lead {
  font-size: 1.2rem;
  color: var(--sy-c-light);
  margin-bottom: 0;
}

.yue p.lead + hr {
  margin-top: 1rem;
}

.yue p.rubric {
  color: var(--yue-c-heading);
  font-weight: 600;
  margin-top: 2rem;
}

.yue .sidebar {
  background-color: var(--sy-c-surface);
  border: 1px solid var(--sy-c-border);
  border-radius: 6px;
  clear: right;
  float: right;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-right: 0;
  width: 30%;
}

@media (max-width: 767px) {
  .yue .sidebar {
    float: none;
    width: 100%;
    margin-left: 0;
  }
}

.yue .sidebar > * {
  padding-left: 1rem;
  padding-right: 1rem;
}

.yue .sidebar img {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.yue .sidebar-title {
  font-weight: 500;
  border-bottom: 1px solid var(--sy-c-border);
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.yue dl.simple > dd > p,
.yue ul.simple > li > p,
.yue ol.simple > li > p {
  margin: 0;
}

.yue a.headerlink {
  visibility: hidden;
  margin-left: 6px;
  color: var(--sy-c-light);
  font-weight: 300;
  font-size: 58%;
  font-family: var(--sy-f-mono);

  --icon-url: var(--lucide-link-url);
  mask: var(--icon-url) no-repeat;
  mask-size: 100% 100%;
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: middle;
  font-style: normal;
  background-color: currentColor;
}

.yue .math-wrapper {
  width: 100%;
  overflow-x: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.yue .math a.headerlink {
  visibility: visible;
}

h1:hover a.headerlink,
h2:hover a.headerlink,
h3:hover a.headerlink,
h4:hover a.headerlink,
h5:hover a.headerlink,
h6:hover a.headerlink {
  visibility: visible;
}

.yue a.image-reference,
.yue .toctree-wrapper a {
  border-bottom: none;
}

.yue .toctree-wrapper p.caption {
  font-size: 0.86rem;
  font-weight: 500;
  font-family: var(--sy-f-heading);
  color: var(--sy-c-light);
  text-transform: uppercase;
  letter-spacing: 0.4px;
  padding: .8rem 0 0.4rem;
  border-bottom: 1px solid var(--sy-c-divider);
}

.yue .align-left {
  clear: left;
  float: left;
  margin: 0 1rem 1rem;
}

.yue .align-right {
  clear: right;
  float: right;
  margin: 0 1rem 1rem;
}

.yue .align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.yue figure.align-center img {
  margin-left: auto;
  margin-right: auto;
}

a.footnote-reference {
  font-size: 0.65rem;
  vertical-align: top;
}

aside.footnote > span,
div.citation > span {
  float: left;
  font-weight: 500;
  padding-right: .25rem;
}
aside.footnote > p,
div.citation > p {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  margin-left: 2rem;
}

.yue kbd.kbd:not(.compound) {
  font-size: 0.86rem;
  padding: 2px 5px;
  border-radius: 3px;
  margin-right: 0.25rem;
}

.yue kbd.compound > kbd {
  margin-left: 0.25rem;
}

.yue .menuselection {
  font-weight: 500;
  font-size: 0.86rem;
}

.light .searchbox kbd,
.light .yue kbd.kbd:not(.compound) {
  border: 0;
  background: linear-gradient(-225deg, #e6e6e6, #f8f8f8);
  box-shadow: inset 0 -2px #dbdbdb, inset 0 0 1px 1px #fff, 0 1px 2px 1px #50505066;
}
.dark .searchbox kbd,
.dark .yue kbd.kbd:not(.compound) {
  border: 0;
  background: linear-gradient(-225deg, #353434, #141414);
  box-shadow: inset 0 -2px #373737, inset 0 0 1px 1px #222, 0 1px 2px 1px #000;
}

/* -- extra -- */
.yue p.centered {
  text-align: center;
}

.yue section > img {
  margin-bottom: 1rem;
}

.hlist td {
  vertical-align: top;
}

.light .light-hidden,
.dark .dark-hidden,
.light .dark-only,
.dark .light-only {
  display: none;
}

/* index table */
.yue .genindex-jumpbox,
.yue .modindex-jumpbox {
  border-top: 1px solid var(--sy-c-border);
  border-bottom: 1px solid var(--sy-c-border);
  padding: 2px 0.4rem;
}

.yue table.modindextable td:first-of-type {
  width: 28px;
}

.yue table.modindextable img.toggler {
  margin: 0;
}

.yue table.modindextable tr.cap {
  font-size: 1.12rem;
  background: var(--sy-c-surface);
  font-family: var(--sy-f-mono);
}

.yue h2 + table.indextable {
  margin-top: 0;
}

.yue table.indextable ul {
  margin-top: 0;
}
