.yue .table-wrapper {
  width: 100%;
  overflow-x: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.yue .table-wrapper > table {
  margin: 0;
}

.yue .table-wrapper thead tr {
  border-top: 1px solid var(--yue-c-td-border);
}

.yue .table-wrapper th {
  background-color: var(--yue-c-th-bg);
  border-left: 1px solid var(--yue-c-td-border);
}

.yue .table-wrapper th:last-child {
  border-right: 1px solid var(--yue-c-td-border);
}

.yue .table-wrapper td {
  border-left: 1px solid var(--yue-c-td-border);
}

.yue .table-wrapper td {
  border-right: 1px solid var(--yue-c-td-border);
}

.yue .table-wrapper tbody tr:first-child {
  border-top: 1px solid var(--yue-c-td-border);
}

.yue .table-wrapper tbody tr:last-child {
  border-bottom-width: 1px;
}

.yue .table-wrapper thead + tbody tr:first-child {
  border-top-width: 0;
}

.yue table.hlist td {
  vertical-align: top;
}

.table-wrapper {
  overflow-x: auto;
  scrollbar-gutter: stable;
}

.table-wrapper::-webkit-scrollbar {
  height: .75rem;
  width: .75rem;
}

.table-wrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.table-wrapper::-webkit-scrollbar-track {
  background-color: transparent;
}

.table-wrapper:hover::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.2);
  background-clip: content-box;
  border: 3px solid transparent;
}
