:root {
  --yue-c-text: var(--sy-c-text);
  --yue-c-heading: var(--sy-c-heading);
  --yue-c-bold: var(--sy-c-bold);

  --yue-c-link-1: var(--sy-c-text);
  --yue-c-link-2: var(--sy-c-bold);
  --yue-c-link-border: var(--sy-c-link);

  --yue-c-ol-marker: var(--gray-9);
  --yue-c-ul-marker: var(--sage-a5);
  --yue-c-hr: var(--sy-c-border);
  --yue-c-quote: var(--sy-c-text);
  --yue-c-quote-border: var(--accent-a3);
  --yue-c-quote-symbol: var(--accent-9);
  --yue-c-caption: var(--sy-c-light);

  --yue-c-code-text: var(--accent-a11);
  --yue-c-code-background: var(--accent-a3);

  --yue-c-table-border: var(--gray-a5);
  --yue-c-th-background: var(--color-surface-accent);
  --yue-c-th-border: var(--gray-a5);
  --yue-c-td-border: var(--gray-a4);
  --yue-c-row-background: var(--sy-c-surface);
}

.yue {
  font-size: 1rem;
  line-height: 1.75;
  color: var(--yue-c-text);
}

.yue p {
  margin-top: 1rem;
  margin-bottom: 1.25rem;
}

.yue a {
  color: var(--yue-c-link-1);
  font-weight: 500;
  text-decoration: none;
  border-bottom: 1px solid var(--yue-c-link-border);
}

.yue a:hover {
  color: var(--yue-c-link-2);
  border-bottom-width: 2px;
}

.yue pre a,
.yue pre a:hover {
  border-bottom: none;
}

.yue strong {
  color: var(--yue-c-bold);
  font-weight: 600;
}

.yue a strong {
  color: inherit;
}

.yue blockquote strong {
  color: inherit;
}

.yue thead th strong {
  color: inherit;
}

.yue ol {
  list-style-type: decimal;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-left: 1.625em;
}

.yue ol[type="1"] {
  list-style-type: decimal;
}

.yue ol[type="A"],
.yue ol.upperalpha {
  list-style-type: upper-alpha;
}

.yue ol[type="a"],
.yue ol.loweralpha {
  list-style-type: lower-alpha;
}

.yue ol[type="I"],
.yue ol.upperroman {
  list-style-type: upper-roman;
}

.yue ol[type="i"],
.yue ol.lowerroman {
  list-style-type: lower-roman;
}

.yue ul {
  list-style-type: disc;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-left: 1.625em;
}

.yue ol > li::marker {
  font-weight: 400;
  color: var(--yue-c-ol-marker);
}

.yue ul > li::marker {
  color: var(--yue-c-ul-marker);
}

.yue dl {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.yue dt {
  color: var(--yue-c-bold);
  font-weight: 600;
}

.yue dd {
  margin-left: 1.5rem;
}

.yue hr {
  border-color: var(--yue-c-hr);
  border-top-width: 1px;
  margin-top: 3em;
  margin-bottom: 3em;
}

.yue blockquote {
  color: var(--yue-c-quote);
  border-left-width: 0.25rem;
  border-left-color: var(--yue-c-quote-border);
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  padding-left: 1rem;
}

.yue blockquote .attribution {
  font-size: 0.85em;
  font-style: italic;
}
[lang^="zh"] .yue blockquote .attribution,
[lang="ko"] .yue blockquote .attribution,
[lang="ja"] .yue blockquote .attribution {
  font-style: normal;
}

.yue h1 {
  color: var(--yue-c-heading);
  font-weight: 800;
  font-size: 2.25em;
  margin-top: 0;
  margin-bottom: 0.8888889em;
  line-height: 1.1111111;
}

.yue h1 strong {
  font-weight: 900;
  color: inherit;
}

.yue h2 {
  color: var(--yue-c-heading);
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.3333333;
}

.yue h2 strong {
  font-weight: 800;
  color: inherit;
}

.yue h3 {
  color: var(--yue-c-heading);
  font-weight: 600;
  font-size: 1.25em;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
  line-height: 1.6;
}

.yue h3 strong {
  font-weight: 700;
  color: inherit;
}

.yue h4 {
  color: var(--yue-c-heading);
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1.5;
}

.yue h4 strong {
  font-weight: 700;
  color: inherit;
}

.yue h5, .yue h6 {
  color: var(--yue-c-heading);
  font-weight: 600;
}

.yue img {
  display: inline;
  max-width: 100%;
}

.yue img.rounded {
  border-radius: .5rem;
}

.yue a > img {
  margin-top: 0;
  margin-bottom: 0;
}

.yue figure > * {
  margin-top: 0;
  margin-bottom: 0;
}

.yue figure img {
  margin-top: 0;
  margin-bottom: 0;
}

.yue figcaption {
  color: var(--yue-c-caption);
  font-size: 0.875em;
  line-height: 1.4285714;
  margin-top: 0.8571429em;
}

.yue figcaption > p {
  margin-top: 0;
}

.yue code {
  color: var(--yue-c-code-text);
  font-weight: 600;
  font-size: 0.875em;
}

.yue a code,
.yue h1 code,
.yue h2 code,
.yue h3 code,
.yue h4 code,
.yue blockquote code,
.yue th code {
  color: inherit;
}

.yue h2 code {
  font-size: 0.875em;
}

.yue li > code,
.yue p > code {
  padding: 2px 4px;
  border-radius: 3px;
  font-weight: 500;
  background-color: var(--yue-c-code-background);
}

.yue h3 code {
  font-size: 0.9em;
}

.yue kbd {
  font-family: var(--sy-f-mono);
}

.yue video {
  margin-top: 2em;
  margin-bottom: 2em;
}

.yue figure {
  margin-top: 2em;
  margin-bottom: 2em;
}

.yue li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.yue ol > li {
  padding-left: 0.375em;
}

.yue ul > li {
  padding-left: 0.375em;
}

.yue ul ul,
.yue ul ol,
.yue ol ul,
.yue ol ol {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.yue hr + *,
.yue h2 + *,
.yue h3 + *,
.yue h4 + * {
  margin-top: 0;
}

.yue table {
  width: 100%;
  table-layout: auto;
  text-align: left;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 0.86em;
  line-height: 1.7;
}

.yue table > caption {
  margin-bottom: 0.4rem;
  color: var(--yue-c-caption);
}

.yue thead tr {
  border-bottom-width: 1px;
  border-bottom-color: var(--yue-c-th-border);
}

.yue thead th {
  color: var(--yue-c-heading);
  font-weight: 600;
  vertical-align: middle;
}

.yue tbody tr {
  border-bottom-width: 1px;
  border-bottom-color: var(--yue-c-td-border);
}

.yue tbody tr:last-child {
  border-bottom-width: 0;
}

.yue tbody td {
  vertical-align: middle;
}

.yue tfoot {
  border-top-width: 1px;
  border-top-color: var(--yue-c-th-border);
}

.yue tfoot td {
  vertical-align: top;
}

.yue td > p {
  margin: 0.25rem 0;
}

.yue thead th > p {
  margin: 0;
}

.yue thead th,
.yue tbody td,
.yue tfoot td {
  padding: 0.5rem;
}

.yue section {
  clear: both;
}

.yue section > div {
  margin-bottom: 2rem;
}

.yue dd > p:first-child {
  margin-top: 0;
}
